.center {
	text-align: center;
    padding-top: 10%;
	margin: auto;
}
h1 {
	text-align: center;
}
.text {
	font-size: 30;
	text-align: center;
}
.jumbotron {
	background-color: #f442c5
}
.container {
	background-color: #f442c5
}
.dane {
	background-color: #f442c5
}
.tekst {
	background-color: #f442c5
}